html{
    font-size: 63%;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    background: url(./img/pexels.jpg) no-repeat center center fixed;
    background-size: cover;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #000;

}
.ham{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
}
.ham span{
    background-color: #FFf;
    display: block;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius:2px;
}
.link-menu{
    display: flex;
    padding: 0;
}
.link-menu li{
    padding: 0 40px;
    list-style: none;
    transition: 0.3s;

}
.link-menu a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
}
.link-menu li:hover{
    background-color: rgb(62, 130, 198);
}
/*responsive*/
@media (max-width:750px){
    body{
        overflow: hidden;
        
    }
    .ham{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 25px;
        transition: 0.2s 0.1s;

    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding-top: 28px;
        padding-bottom: 28px;
    }
    .link-menu{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        /*display: none;*/
        opacity: 0;
        transition: opacity 5s ease-out;
        width: 100%;
    }
    .link-menu li{
        text-align: center;
        width: 100%;
        padding: 20px;
    }
}

/*animaciones*/
@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}
.link-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}
.br-1.animado{
    transform: rotate(-45deg) translate(-10px,8px);

}

.br-2.animado{
    opacity:0;
}
.br-3.animado{
    transform: rotate(45deg) translate(-10px,-8px);
}
.ham.girar:hover{
    transform: rotate(360deg);
}
