h1{
    color: red;
}

h2{
    color: blue;
}

.alumnos{
    color: yellow;
}

.ejercicio{
    border: 5px solid red;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,td{
    border: 1px solid red;
}
th{
    font-weight: bold;
}
