/* HEADER*/
.wrap{
    margin-left: 20px;
}
.header{
    background: #00AF1C;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    display: flex;
}
.header nav a{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.header li{
    list-style: none;
    margin-left: 15px; 
}
.header a{
    text-decoration: none;
    color: #FFFFFF;
}
.logo{
    font-size: 32px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;    
}
/*SECTION HOME*/
.home h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #3B06D2;
    margin: 30px;
}
.home p{
    margin: 30px;    
}
.home div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home div img{
    margin: 20px;
}

